#cursus {
    margin: 0;
    background-color: #ece8e1;
    position: relative;
    width: 100%;
    top: -25vh;
}

.career-timeline {
    display: flex;
}

.career-event {

}

.career-date {

}

.career-title {

}

.career-description {

}