.information {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-email, .contact-phone, .contact-name {
    margin: 1% 0;
}

@media only screen and (max-width: 1225px) {
    .contact-email {
        text-align: center;
    }
}

.contact-email a, .contact-phone a {
    text-decoration: none;
    color: #1bb;
    font-size: 1.2rem;
    font-weight: 500;
}

footer {
    display: flex;
    justify-content: center;
    padding: 6vh 0!important;
    z-index: 21;
    position: relative;
}

@media only screen and (max-width: 1225px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}

.footer-icons {
    display: flex;
    margin: 0 10%;
}

@media only screen and (max-width: 1225px) {
    .footer-icons {
        margin: 5% 10%;
    }
}

.icon {
    padding: 1%;
    border-radius: 50%;
    background: #0F1823;
    width: 3.5rem;
    font-size: 2rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 13px;
    text-decoration: none;
}

.icon .fa-brands {
    color: #fff;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    width: 305px;
}

.footer-menu {
    display: flex;
    align-items: center;
    max-width: 305px;
    justify-content: space-around;
    width: 30%;
}

.footer-menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    font-weight: 500;
}

@media only screen and (max-width: 1225px) {
    .footer-menu a {
        margin: 0 5%;
    }
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.675rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 3% 0;
}

.form-input::placeholder {
    font-family: Arial;
}

textarea.form-input {
    overflow: auto;
    resize: vertical;
}

span.contact-form-name {
    display: flex;
    justify-content: center;
    margin: 2% 0;
    font-size: 1.2rem;
    color: rgb(141, 141, 141);
    font-family: Rajdhani-Light;
}

.contact-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit-btn {
    background: linear-gradient(to right,#1bb 0,#6af 100%);
    border: 2px solid #fff;
    border-radius: 30px;
    box-shadow: #1bb 1px 1px 3px;
    color: #fff;
    display: block;
    font-family: Rajdhani-Light;
    font-size: 18px;
    margin: 5% auto;
    max-width: 300px;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.contact-form form {
    width: 55%;
    max-width: 670px;
}

@media only screen and (max-width: 1000px) {
    .contact-form form {
        width: 75%;
    }

    .form-input {
        padding: 0.675rem 0;
    }
}

.form-inputs {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .form-inputs {
        display: block;
    }
}

.form-inputs-information, .form-inputs > label {
    width: 49%;
}

@media only screen and (max-width: 1000px) {
    .form-inputs-information, .form-inputs > label {
        width: 100%;
    }
}
