@import url('introduction.css');
@import url('cursus.css');
@import url('skills.css');
@import url('project.css');
@import url('contact.css');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=PT+Sans:wght@700&display=swap');
@font-face {
    font-family: "Tungsten-Bold";
    src: url("fonts/Tungsten Font/@font-face/561f38b1f4570de0fb8a39d691ab058c.woff2") format("woff2"), url("fonts/Tungsten Font/@font-face/561f38b1f4570de0fb8a39d691ab058c.woff") format("woff");
}
@font-face {
    font-family: Rajdhani-Regular;
    src: url("fonts/Rajdhani-Regular.ttf")
}
@font-face {
    font-family: Rajdhani-Bold;
    src: url("fonts/Rajdhani-Bold.ttf")
}
@font-face {
    font-family: Rajdhani-Light;
    src: url("fonts/Rajdhani-Light.ttf")
}

.tungsten-font {
    font-family: "Tungsten-Bold"!important;
}

.mark-font {
    font-family: "FF Mark W05",Arial,sans-serif!important;
}

.pt-sans-font {
    font-family: 'PT Sans', sans-serif!important;
}

body {
    margin: 0;
    background-color: #e4eeee;
    font-family: "FF Mark W05",Arial,sans-serif;
    font-weight: 600;
    font-size: 93%;
    background-image: url("../resources/night_city.gif");
    width: 100vw;
    height: 100vh;
    background-attachment: fixed !important;
    background-size: cover !important;
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 880px) {
    html {
        overflow-x: hidden;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

#menu {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 9vh;
    justify-content: space-between;
    z-index: 30;
    transition: background-color 200ms linear;
}

@media only screen and (max-width: 1225px) {
    #menu {
        background: #111;
        border-bottom: 2px solid rgba(51,51,51,.25);
    }
}

.fixed {
    background: linear-gradient(180deg, rgba(17,17,17,1) 0%, rgba(17,17,17,0.7749474789915967) 15%, rgba(0,212,255,0) 100%);
}

.scrolled {
    background: #111;
    border-bottom: 2px solid rgba(51,51,51,.25);
}

#menu ul {
    display: flex;
    margin: 0;
    height: 100%;
    padding-right: 5%;
    width: 50%;
    justify-content: space-between;
    max-width: 630px;
}

.show-menu {
    text-decoration: none;
    color: #fff;
    padding: 1%;
    display: none;
    width: fit-content;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 4%;
    align-items: center;
}

#menu input[type=checkbox]{
    display: none;
}

#menu input[type=checkbox]:checked ~ ul{
    display: block;
}

@media only screen and (max-width: 1225px) {
    #menu ul {
        position: absolute;
        top: 9vh;
        display: none;
        height: fit-content;
        background: linear-gradient(to bottom,#1bb 0,#6af 100%);
        width: 100%;
        max-width: 1225px;
        padding-bottom: 4%;
        overflow: hidden;
        margin: 0;
    }
    /*Create vertical spacing*/
    .anchors {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .anchors a {
        width: 100%;
    }

    .show-menu {
        display: flex;
    }
}

#menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.language i {
    cursor: pointer;
}

.languages-dropdown {
    display: none;
    background: rgba(0,0,0,.5);
    flex-direction: column;
    height: auto;
    margin: 0;
    /* opacity: 0; */
    padding-bottom: 6px;
    position: absolute;
    text-align: left;
    transition: .3s;
    transform: translateY(0);
    /* visibility: hidden; */
    width: 110px;
    top: 9vh;
    font-family: Rajdhani-Light;
}

@media only screen and (max-width: 1225px) {
    .languages-dropdown {
        display: flex;
        background: none;
        flex-direction: column;
        height: auto;
        margin: 2% 0 0 0;
        opacity: 1;
        padding: 6px 0;
        position: inherit;
        visibility: visible;
        width: 100%;
        font-family: Rajdhani-Light;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}

.language-name {
    font-size: 1.1rem;
    margin-top: 8px;
    padding-left: 25px;
    position: relative;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
}

@media only screen and (max-width: 1225px) {
    .language-name {
        font-size: 1.2rem;
    }
}

.language-name:hover {
    color: #1bb;
}

@media only screen and (max-width: 1225px) {
    .language-name:hover {
        color: #FFF;
    }
}

.language-name:after {
    background: linear-gradient(to right,#1bb 0,#6af 100%);
    bottom: -4px;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 5%;
    position: absolute;
    transform: scale(0,1);
    transform-origin: right top;
    transition: transform .3s;
    width: 90%;
}

.language-name:hover:after {
    transform: scale(1,1);
}

.fa-globe:hover {
    color: #00d1ff;
}

.language:hover .languages-dropdown {
    display: flex;
    opacity: 1;
}

.anchors {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}

@media only screen and (max-width: 1225px) {
    .anchors:not(.logo) {
        height: fit-content;
    }
}

.logo.anchors {
    display: flex;
    justify-content: center;
}

.anchors a:not(.language-name) {
    text-decoration: none;
    height: 46%;
    display: flex;
    align-items: center;
    color: #FFF;
    padding: 0 2vh;
    border-radius: 1.5vh;
    text-transform: uppercase;
    font-family: Rajdhani-Light;
    font-size: 135%;
}

@media only screen and (max-width: 1225px) {
    .anchors a:not(.language-name) {
        border-bottom: 1px solid rgba(255,255,255,.3);
        border-radius: 0;
        margin-top: 5%;
    }
}

.fa-globe {
    padding: 1vh;
    margin-right: 2vh;
    font-size: 1.2rem;
    border-radius: 1.5vh;
}

@media only screen and (max-width: 1225px) {
    .fa-globe {
        display: none;
    }
}

a.tungsten-font.menu-name {
    font-size: 2rem;
}

.anchors:not(.logo) a:not(.language-name):hover, .fa-globe:hover {
    background-color: rgba(255, 255, 255, 0.11);
}

@media only screen and (max-width: 1225px) {
    .anchors:not(.logo) a:not(.language-name):hover, .fa-globe:hover {
        background-color: rgba(255, 255, 255, 0);
    }
}

.active {
    background-color: rgba(255, 255, 255, 0.11);
    color: #1be !important;
}

.line-hover {
    /*border-bottom: solid #ff4655;*/
    border-bottom: solid #2be;
    border-width: thick;
    width: 100%;
    position: relative;
    top: 15%;
    border-radius: 1vh;
    visibility: hidden;
}

@media only screen and (max-width: 1225px) {
    .line-hover {
        display: none;
    }
}

.show {
    visibility: visible;
}

.downloader a:not(.language-name) {
    white-space: nowrap;
    background: linear-gradient(to right,#1bb 0,#6af 100%);
    padding: 1vh 2vh;
    border-radius: 1.5vh;
    color: #111;
}

@media only screen and (max-width: 1225px) {
    .downloader a:not(.language-name) {
        background: none;
        padding: 0;
        color: #FFF;
        border-radius: 0;
    }

    li.downloader.anchors {
        margin-top: 2%;
        align-items: flex-start!important;
    }
}

.left-line {
    border-left: solid thin #222222;
    position: fixed;
    left: 8vh;
    width: 1px;
    z-index: 20;
    height: 100%;
}

@media only screen and (max-width: 1225px) {
    .left-line {
        display: none;
    }
}

.content {
    position: relative;
    /*top: -25vh;*/
}

#cursus, #projects, footer {
    /*padding-left: 8vh;*/
    background-color: #ece8e1;
    width: 100%;
}

#skills, #contact, .introduction-bio {
    /*padding-left: 8vh;*/
    background-color: #0F1823;
    width: 100%;
}

/* TOPIC */

.topic-title {
    font-size: 4rem;
    padding-top: 2vh;
    padding-left: 8vh;
}

.white {
    color: #fff!important;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
}

[aria-hidden="true"] { display: none; }
[aria-hidden="false"] { display: block; }

.fade {
    opacity: 0.8;
    /*transition: all .5s ease-in-out;*/
}

@media only screen and (min-width: 1225px) {
    .reveal {
        position: relative;
        opacity: 0;
    }
    .reveal.active2 {
        opacity: 1;
    }
    .active2.fade-bottom {
        animation: fade-bottom 0.5s ease-in;
    }
    .active2.fade-left {
        animation: fade-left 0.5s ease-in;
    }
    .active2.fade-right {
        animation: fade-right 0.5s ease-in;
    }

    @keyframes fade-bottom {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @keyframes fade-left {
        0% {
            transform: translateX(-100px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes fade-right {
        0% {
            transform: translateX(100px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}