@import url('introduction.css');
@import url('cursus.css');
@import url('skills.css');
@import url('project.css');
@import url('contact.css');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=PT+Sans:wght@700&display=swap');
@font-face {
    font-family: "Tungsten-Bold";
    src: url("fonts/Tungsten Font/@font-face/561f38b1f4570de0fb8a39d691ab058c.woff2") format("woff2"), url("fonts/Tungsten Font/@font-face/561f38b1f4570de0fb8a39d691ab058c.woff") format("woff");
}

.tungsten-font {
    font-family: "Tungsten-Bold"!important;
}

.mark-font {
    font-family: "FF Mark W05",Arial,sans-serif!important;
}

.pt-sans-font {
    font-family: 'PT Sans', sans-serif!important;
}

body {
    margin: 0;
    background-color: #e4eeee;
    font-family: "FF Mark W05",Arial,sans-serif;
    font-weight: 600;
    font-size: 93%;
    background-image: url("../resources/night_city.gif");
    width: 100vw;
    height: 100vh;
    background-attachment: fixed !important;
    background-size: cover !important;
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

#menu {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 9vh;
    justify-content: space-between;
    z-index: 30;
    transition: background-color 200ms linear;
}

.fixed {
    background: linear-gradient(180deg, rgba(17,17,17,1) 0%, rgba(17,17,17,0.7749474789915967) 15%, rgba(0,212,255,0) 100%);
}

.scrolled {
    background: #111;
    border-bottom: 2px solid rgba(51,51,51,.25);
}

#menu ul {
    display: flex;
    margin: 0;
    height: 100%;
    padding-right: 5%;
    width: 50%;
    justify-content: space-between;
    max-width: 630px;
}

#menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.language i {
    cursor: pointer;
}

.anchors {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}

.logo.anchors {
    display: flex;
    justify-content: center;
}

.anchors a {
    text-decoration: none;
    height: 46%;
    display: flex;
    align-items: center;
    color: #FFF;
    padding: 0 2vh;
    border-radius: 1.5vh;
    text-transform: uppercase;
}

.fa-globe {
    padding: 1vh;
    margin-right: 2vh;
    font-size: 1rem;
    border-radius: 1.5vh;
}

a.tungsten-font.menu-name {
    font-size: 2rem;
}

.anchors:not(.logo) a:hover, .fa-globe:hover {
    background-color: rgba(255, 255, 255, 0.11);
}

.line-hover {
    border-bottom: solid #ff4655;
    border-width: thick;
    width: 100%;
    position: relative;
    top: 15%;
    border-radius: 1vh;
    visibility: hidden;
}

.show {
    visibility: visible;
}

.downloader a {
    white-space: nowrap;
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    padding: 1vh 2vh;
    border-radius: 1.5vh;
    color: #111;
}

.left-line {
    border-left: solid thin #222222;
    position: fixed;
    left: 8vh;
    width: 1px;
    z-index: 20;
    height: 100%;
}

.content {
    position: relative;
    /*top: -25vh;*/
}

#cursus, #projects, footer {
    /*padding-left: 8vh;*/
    background-color: #ece8e1;
    width: 100%;
}

#skills, #contact, .introduction-bio {
    /*padding-left: 8vh;*/
    background-color: #0F1823;
    width: 100%;
}

/* TOPIC */

.topic-title {
    font-size: 4rem;
    padding-top: 2vh;
    padding-left: 8vh;
}

.white {
    color: #fff!important;
}

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

[aria-hidden="true"] { display: none; }
[aria-hidden="false"] { display: block; }

.fade {
    opacity: 0.8;
    /*transition: all .5s ease-in-out;*/
}