.all-projects {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects {
    padding: 5vh 8vh;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.project {
    max-width: 33%;
    height: 215px;
    background: url(../resources/hisokalerat.png) no-repeat center;
    background-size: cover;
    width: 100%;
    margin: 1px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    min-width: 360px;
}

.project-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    background-color: #0F18231F;
    text-shadow: 0.1vw 0vw 0.25vw #181817, 0.15vw 0vw 0.25vw #272726, 0.1vw 0vw 0.1vw #272726;
}

.project:hover {
    transform: scale(0.85);
}

.project:hover .project-text {
    background-color: #0F182390;
}

.project-name {
    color: #ff4655;
    font-weight: 700;
    font-size: xx-large;
}

.project-description {
    color: #fff;
    font-weight: 700;
    font-size: large;
}

.modal-display {
    display: block!important;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 5%;
    background: #fff;
    width: 90%;
    height: fit-content;
    z-index: 100;
    margin: 5vw 0;
}

.close-modal {
    display: flex;
    justify-content: end;
    margin: 1rem;
    font-size: 4rem;
    color: #111;
}

.fa-times {
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.modal-title {
    font-size: 2rem;
    font-weight: 700;
    color: #ff4655;
}

.modal-description {
    font-size: 1.5rem;
    font-weight: 500;
    color: #111;
    line-height: 1.5;
    padding: 5% 0;
    text-align: center;
}

.modal-link {
    font-size: 1.5rem;
    font-weight: 700;
}

.link {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff4655;
    text-decoration: none;
}