<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="xhmyjae">
    <meta name="description" content="My portfolio to get into riot and mihoyo.">
    <title>Margot Tomatis | Portfolio</title>

    <script src="https://kit.fontawesome.com/74fed0e2b5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../client/style/index.css"/>
</head>

<body>

<div id="menu">

    <div class="logo anchors">
        <a href="#menu">ME</a>
    </div>
    <ul>
        <li class="about-anchor anchors">
            <a href="#introduction">ABOUT</a>
        </li>
        <li class="projects-anchor anchors">
            <a href="#projects">PROJECTS</a>
        </li>
        <li class="contact-anchor anchors">
            <a href="#contact">CONTACT</a>
        </li>
        <li class="language anchors">
            <i class="fa-solid fa-globe"></i>
        </li>
        <li class="downloader anchors">
            <div>
                <a href="/backend/resources/CV.pdf" download="CV_Tomatis.pdf">Get my CV</a>
            </div>
        </li>
    </ul>
</div>

<section id="introduction">
    <div class="vertical-left-line"></div>
    <div class="introduction-name tungsten-font">
        <span>MARGOT</span>
        <span>TOMATIS</span>
    </div>
    <div class="introduction-image">
        <img src="../backend/resources/Viper_artwork.png" alt="Margot Tomatis">
    </div>
    <div class="introduction-bio">
        <p class="pt-sans-font">// STUDENT</p>
        <p class="introduction-bio-role tungsten-font">SOFTWARE DEVELOPMENT</p>
        <p class="pt-sans-font">// ABOUT ME</p>
        <p>Bachelor student at Ynov Campus. I own a passion for computer science.<br>My interests include game programming, software design and development and artificial intelligence.
        <br>I'm currently on my second year working towards my Master of Software Engineering (M.Eng.) degree.</p>
        <div class="horizontal-line-introduction"></div>
    </div>
</section>

<section id="cursus">
    <div class="topic-title">
        <span class="tungsten-font">CAREER</span>
    </div>
    <div class="career-timeline">
        <div class="career-event">
            <span class="career-date">2017</span>
            <div>
                <span class="career-title">Bac sciences econimiques et sociales</span>
                <span class="career-description">Ynov Campus wpeikgnwoihfwoihfo;wihfpiwfhgpi/wfghiwptfhiou.qw3e</span>
            </div>
        </div>
        <div>
            <span class="career-date">2017</span>
            <div>
                <span class="career-title">Bac sciences econimiques et sociales</span>
                <span class="career-description">Ynov Campus wpeikgnwoihfwoihfo;wihfpiwfhgpi/wfghiwptfhiou.qw3e</span>
            </div>
        </div>
    </div>
</section>

<section id="skills"></section>

<section id="projects"></section>

<section id="contact"></section>

</body>
</html>